<ul class='card_list'>
  <%- cards.each do |card| -%>
    <li>
      <div id="card_<%= card.id %>">
      <%- form_for(card, :method => :put) do -%>
        <span class='card_title'><%= link_to card.title, card_path(card) %></span>
        <%= submit_tag "Move to:" %> <%= select("card", "iteration_id", destination_options)%>
      <%- end -%>
      </div>
    </li>
  <%- end -%>
</ul>
