<%- @iterations.each_with_index do |iteration, index| -%>
<div id="iteration_<%= iteration.id %>">
<p>Iteration <%= index + 1 %></p>
<p><%= iteration.start_date.to_s(:iteration_start_date) %></p>  
<p><%= iteration.number_of_days %></p>
</div>
<%- end -%>